@font-face {
  font-family: "Klavika";
  src: url("./assets/klavika-bold.otf");
}

body {
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #f0f2f5;
}

main {
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

.logo {
  font-family: "Klavika";
  color: #1877f2;
  font-size: 3em;
  text-align: center;
  margin-top: 10%;
}

.form {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0px 0px 40px 00px rgba(75, 75, 75, 0.3);
  color: #444;
}

@media screen and (max-width: 1200px) {
  main {
    grid-template-columns: 20% 60% 20%;
  }
}

@media screen and (max-width: 724px) {
  main {
    grid-template-columns: 10% 80% 10%;
  }
}

.signup {
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  border: 0px solid green;
  color: #fff;
}

.typebox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h2 {
  text-align: center;
}
.gender {
  text-align: center;
}

.gb {
  border: 1 px gray solid;
  border-radius: 2px;
}

.birth {
  text-align: center;
}
